Repository pimcore/demo, pull requests merged in 2025-03, with the labels that each got.

#616 Change collation from utf8mb4_general_ci to utf8mb4_unicode_520_ci
  .github/ci/files/docker-compose.yaml
  .github/workflows/pimcore-demo.yml
  composer.json
  config/config.yaml
  docker-compose.yaml
  dump/data-0-bootstrap.sql
Labels: Task, Pimcore:ToDo

#618 Fix: xss in print toc
  templates/areas/print-toc/view.html.twig
Labels: Security

#615 Fix dashboard: Wrong Custom Report "Worfklow_Done-All"
  .github/workflows/pimcore-demo.yml
  var/config/portal/dashboards_2.psf
Labels: Pimcore:ToDo
